/****** Common Css ******/
:root {
    /****** Color Scheme ******/
    --TrendTextUp: hsl(163, 72%, 41%);
    --TrendTextDown: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    /****** Dark Theme Colors ******/
    --DarkToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --VeryDarkBlueBG: hsl(230, 17%, 14%);
    --VeryDarkBlueTopBG: hsl(232, 19%, 15%);
    --VeryDarkBlueTopBGHover: hsl(232, 19%, 30%);
    --DarkDesaturatedBlue: hsl(228, 28%, 45%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --WhiteText: hsl(0, 0%, 100%);
    /****** Light Theme Colors ******/
    --LightToggle: linear-gradient(hsl(230, 22%, 74%), hsl(230, 22%, 74%));
    --WhiteBG: hsl(0, 0%, 100%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --LightGrayishBlueHover: hsl(227, 47%, 91%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --VeryDarkBlue: hsl(230, 17%, 14%);
    /****** Screen Width Breakpoints ******/
    --small-width: (max-width: 480px);
    --medium-width: (min-width: 481px) and (max-width: 961px);

    --content-max-width: 70%;

    @media screen and (max-width: 480px) {
        --content-max-width: 90%;
    }
    
}

* {
    font-family: 'Inter', sans-serif;
    transition: all 250ms ease;
}

*::before {
    transition: all 250ms ease;
}

body {
    /****** Theme Variables Light ******/
    --toggler-bg-color: var(--LightToggle);
    --background-color: var(--WhiteBG);
    --banner-bg-color: var(--VeryPaleBlue);
    --card-bg-color: var(--LightGrayishBlue);
    --card-bg-color-hover: var(--LightGrayishBlueHover);
    --text-color-primary: var(--VeryDarkBlue);
    --text-color-subtle: var(--DarkGrayishBlue);
    /****** Fallback Variables ******/
    background-color: var(--background-color);
    color: var(--text-color-primary);
    font-size: 14px;
    margin: 0;
}
/****** Dark Mode Class - applies to body element when dark mode is enabled, changes global theme variables with a single class ******/
.dark-mode {
    /****** Theme Variables Dark ******/
    --toggler-bg-color: var(--DarkToggle);
    --background-color: var(--VeryDarkBlueBG);
    --banner-bg-color: var(--VeryDarkBlueTopBG);
    --card-bg-color: var(--VeryDarkBlueTopBG);
    --card-bg-color-hover: var(--VeryDarkBlueTopBGHover);
    --text-color-primary: var(--WhiteText);
    --text-color-subtle: var(--DesaturatedBlue);
}

nav {
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .nav-content {
        width: var(--content-max-width);     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 480px) {
            flex-direction: column;
            align-items: unset;
            margin-top: 2rem;
        }
    }

    & .intro {
        display: flex;
        flex-direction: column;
        margin: 0;

        & h1{
            margin: 0;
            font-size: 2rem;
            justify-self: flex-start;

            @media (max-width: 480px) {
                font-size: 1.5rem;
            }
        }
        & h5 {
            margin: 0;
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 1q;
            margin-top: 0.3rem;
            margin-left: 0.1rem;
            color: var(--text-color-subtle);
        }
    }

    & hr {
        width: 100%;
        visibility: hidden;
        position: absolute;

        @media (max-width: 480px) {
            position: initial;
            visibility: visible;
            margin: 1.5rem 0 1rem 0;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 30rem;
        z-index: -1;
        background-color: var(--banner-bg-color);
        border-radius: 0 0 25px 25px;
        transition: all 250ms ease;
    }
}

.theme-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;

    & .toggle-label {
        color: var(--text-color-subtle);
    }

    &:hover .toggle-label {
        color: var(--text-color-primary);
    }

    @media (max-width: 480px) {
        & {
            margin-left: initial;
        }

        & .switch {
            margin-left: auto;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    transition: all 250ms ease;

    &:hover {
        cursor: pointer;

        & .slider {
            background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        }
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--toggler-bg-color);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    border-radius: 34px;

    &::before {
        position: absolute;
        content: '';
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 3px;
        -webkit-transition: all 250ms ease;
        background-color: var(--background-color);
        transition: all 250ms ease;
        border-radius: 50%;
    }

    
}

input:checked + .slider {
    background-image: var(--toggler-bg-color);

    &::before {
        transform: translateX(29px);
    }

}

.large-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: var(--content-max-width);
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 2.5rem;
    
}

.large-card {
    --large-card-width: 18rem;
    --large-card-width-bg: 18rem;
    width: var(--large-card-width);
    height: 18rem;
    background-color: var(--card-bg-color);
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .social-title {
        display: flex;
        gap: 0.5em;
        color: var(--text-color-subtle);
        margin-bottom: 3rem;
        font-weight: 500;
    }

    & .total-count {
        font-size: 4rem;
        font-weight: 700;
    }

    & .count-name {
        font-size: 0.8rem;
        color: var(--text-color-subtle);
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.3rem;
    }

    & .small-count {
        margin-top: 3rem;
    }
    &:nth-child(1)::before {
        content: '';
        position: absolute;
        transform: translate(0, -4px);
        border-radius: 6px;
        height: 18rem;
        width: var(--large-card-width-bg);
        background: var(--Facebook);
        z-index: -1;
    }

    &:nth-child(2)::before {
        content: '';
        position: absolute;
        transform: translate(0, -4px);
        border-radius: 6px;
        height: 18rem;
        width: var(--large-card-width-bg);
        background: var(--Twitter);
        z-index: -1;
    }

    &:nth-child(3)::before {
        content: '';
        position: absolute;
        transform: translate(0, -4px);
        border-radius: 6px;
        height: 18rem;
        width: var(--large-card-width-bg);
        background: var(--Instagram);
        z-index: -1;
    }

    &:nth-child(4)::before {
        content: '';
        position: absolute;
        transform: translate(0, -4px);
        border-radius: 6px;
        height: 18rem;
        width: var(--large-card-width-bg);
        background: var(--YouTube);
        z-index: -1;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--card-bg-color-hover);
    }

    @media (max-width: 480px) {
        & {
            --large-card-width: 100%;
            --large-card-width-bg: 89.9%;
        }
    }
}

.small-count {
    font-size: 0.8rem;
    font-weight: 700;
}

.count-positive {
    color: var(--TrendTextUp);
    position: relative;
    padding-left: 1em; 
    display: inline-flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('images/icon-up.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 0.7em; 
        height: 0.7em; 
    }

}

.count-negative {
    color: var(--TrendTextDown);
    position: relative;
    padding-left: 1em;
    display: inline-flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('images/icon-down.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 0.7em; 
        height: 0.7em; 
    }
}

.section-title {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: var(--content-max-width);
    margin: 0 auto;
}

.small-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: var(--content-max-width);
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.small-card {
    min-width: 18rem;
    height: 9rem;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .top {
        display: flex;
        justify-content: space-between;
        margin: 1.75rem;
        margin-bottom: 0;
    }

    & .title {
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--text-color-subtle);
    }

    & .bottom {
        display: flex;
        justify-content: space-between;
        margin: 1.75rem;
        margin-top: 0;
    }

    & .count {
        font-size: 2rem;
        font-weight: 700;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--card-bg-color-hover);
    }
}


button {
    width: 1em; 
    height: 1em; 
    background-color: var(--toggler-bg-color);
    transition: all 250ms ease;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--text-color-subtle);
    & a {
        color: hsl(228, 45%, 44%);
    }
}


